body{
  background-color: black; 
  background-image: url("http://img1.sunset.timeinc.net/sites/default/files/styles/1000x1000/public/image/2016/06/main/fall-camping-best-campgrounds-organ-pipe-cactus-national-monument-twin-peaks-1115.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px
}

.footer {
    
    text-align: center;
}
#delete-form {
    display: inline;
}
.delete-form {
    display: inline;
}
.goback {
    margin:0 auto;
   
}